:root {
	--red: #a4161a;
	--blue: #99d6ea;
	--grey: #b1a7a6;
	--green: #8ac926;
	--black: #202020;
}

#playground {
	height: 700px;
	width: 700px;
	/* background-color: var(--blue); */
	display: grid;
	grid-template-columns: repeat(15, 1fr);
}

#playground > div:nth-child(even) {
	background-color: var(--grey);
}
#playground > div:nth-child(odd) {
	background-color: var(--blue);
}
