:root {
	--red: #a4161a;
	--blue: #99d6ea;
	--grey: #b1a7a6;
	--green: #8ac926;
	--black: #202020;
}

#playground {
	height: 700px;
	width: 700px;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	position: relative;
}

#playground > .board:nth-child(even) {
	background-color: var(--grey);
}
#playground > .board:nth-child(odd) {
	background-color: var(--blue);
}

#playground > .snake {
	background-color: var(--green);
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 2;
}

#playground > .food {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--red);
	position: absolute;
	z-index: 1;
}
