:root {
	--red: #a4161a;
	--blue: #99d6ea;
	--grey: #b1a7a6;
	--green: #8ac926;
	--darkgreen: #1a7b1f;
	--black: #202020;
}

#playground {
	height: 700px;
	width: 700px;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	position: relative;
}

#playground > .board:nth-child(even) {
	background-color: var(--grey);
}
#playground > .board:nth-child(odd) {
	background-color: var(--blue);
}

#playground > .snake {
	background-color: var(--green);

	border-radius: 50%;
	transform: translate(-50%, -50%);

	position: absolute;
	z-index: 2;
}

#playground > .apple {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	transform: translate(-50%, -50%);

	background-color: var(--red);
	position: absolute;
	z-index: 1;
}

#playground > .pear {
	height: 30px;
	width: 30px;
	border-radius: 10% 30% 50% 50%;

	transform: translate(-50%, -50%);

	background-color: var(--darkgreen);
	position: absolute;
	z-index: 1;
}

#playground .start {
	height: 100px;
	width: 180px;
	position: absolute;
	margin-top: 50%;
	margin-left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	background-color: var(--green);
	z-index: 2;
	transition-duration: 0.4s;
}

#playground .start:hover {
	background-color: var(--darkgreen);
	box-shadow: 10px 5px 5px var(--green);
	color: wheat;
}

#score .points {
	font-size: 30px;
}

#score .highscore {
	margin-top: 10px;
	font-size: 30px;
}
